@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    font-family: "Nunito", serif;
}

body{
    background-color: #070F2B;
    background: linear-gradient(0deg, #070F2B, #1B1A55,#535C91);;
}

.main-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* HomeStart */
.home{
    height: 100vh;
    width: 100%;
    /* border: solid lavender; */
    background: linear-gradient(175deg, #070F2B, #1B1A55,#535C91);
}

.home .nav-bar{
    height: 80px;
    width: 100%;
    /* background-color: #1B1A55; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 1px 10px #1B1A55;
    position: fixed;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(3px);
}



.nav-bar a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1rem;
    border-radius: 10px;
    padding: 8px 16px;
    margin-top: 10px;
}

.nav-bar a:hover{
    background-color:rgb(225, 234, 241);
    color: #1B1A55;
    transition: all 0.2s ease-in-out;
}

.nav-bar a:last-child{
    background-color: #9290C3;
    box-shadow: 0px 0px 10px #535C91 inset;
}

/* .nav-bar a:nth-child(6):hover{
    background-color: aqua;
} */

.search{
    width: 450px;
    height: 50px;
    border: 0.5px rgb(0, 0, 0) solid;
    border-radius: 25px;
    display: flex;
    background-color:rgb(225, 234, 241);
    hr{
        transform: rotate(100);
        margin-left: 20px;
        background-color: #070F2B;
    }
    margin-top: 10px;
}

.search input{
    height: 100%;
    width: 80%;
    font-size: 1.1rem;
    border: none;
    outline: none;
    background: none;
    padding-left: 10px;
}

.search svg{
    position: relative;
    top: 17px;
    left: 12px;
}

.nav-bar img{
    width: 165px;
    margin-top: 10px;
    /* filter: invert(100%); */
    filter: drop-shadow(0px 0px 10px rgb(245, 245, 245));
}

.home .homewall{
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel{
    width: 95%;
    border-radius: 20px;
    overflow: hidden;
}

.homewall-tablet{
    height: fit-content;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 100px;
    left: 150px;

}

.homewall-tablet .tab{
    border: 1px white solid;
    height: 300px;
    width: 190px;
    img{
        height: 300px;
        width: 190px;
        border-radius: 10px;
    }
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.2s linear;
}


/* .back-card{
    border: 1px solid black;
    height: 100px;
    width: 190px;
    z-index: 100;
    background-color: rgba(176, 182, 214, 0.79);
    position: absolute;
    top: 200px;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition:opacity 0.2s linear, visibility 0.2s linear;

}
*/
.homewall-tablet .tab:hover{
    transform: scale(1.04);
}

/* section */

.section{
    height: 137vh;
    width: 93%;
    box-shadow: 0px 0px 10px 10px black;
    margin-top: 170px;
}

.sec-name{
    color: aliceblue;
    position: relative;
    width: fit-content;
    top: 20px;
    left: 30px;
}

.section .title-block{
    height: 130vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap; 
    margin-top: 10px;
    padding-top: 10px;
}

.section .sectioncard{
    width: 300px;
    height: 405px;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.2s ease-in;
}

.section .sectioncard img{
    height: 400px;
    width: 300px;
    border: 1px black solid;
    box-shadow: 5px 10px 10px #070F2B ;
    position: relative;
    transition: all 0.1s ease-in;
}

.section .sectioncard .about{
    height: 100px;
    background-color: whitesmoke;
    position: relative;
    bottom: 100px;
    visibility: hidden;
    border: 1px whitesmoke solid;
    p{
        font-size: 13px;
        padding: 5px;
    }

    span{
        font-weight: 900;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
    }
}





.section:nth-child(2){
    .sectioncard:hover{
        /* animation: zoom 0.2s linear forwards; */
        /* border: 7px whitesmoke solid; */
        .about{
            visibility: visible;
            transition: all 0.2 linear;
        }
        transform: scale(1.03);
        img{
            transform: scale(0.9);
            border-radius: 5px;
        }
        background-color: whitesmoke;
        
    }
}

.section:nth-child(3){
    margin-top: 70px;
    height: 70vh;
    .title-block{
        height: 65vh;
    }
    .sectioncard:hover{
        transform: scale(1.04);
       
    }
}
.section:nth-child(4){
    margin-top: 70px;
    .sectioncard:hover{
        transform: scale(1.06);
       
    }
}


/* footer */

.footer{
    height: 240px;
    width: 100%;
    /* border: white 1px solid; */
    background-color: #060c20;
    margin-top: 50px;
    display: flex;
    color: aliceblue;
    font-size: 16px;
    a{
        text-decoration: none;
        color: aliceblue;
    }
    h4{
        font-size: 28px;
    }
}

.footer .col-1{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
    top: 30px;
    left: 50px;
}

.footer .col-2{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 30px;
    left: 80px;
    gap: 10px;
}

.footer .col-3{
    position: relative;
    top: 30px;
    left: 500px; 
    .sub-col{
        position: relative;
        top: 10px;
        display: flex;
        gap: 30px;
    }
}

.footer .col-3 .box-con{
    height: 40px;
    width: 40px;
    /* background-color: #070F2B; */
    border-radius: 50%;
    img{
        height: 40px;
        width: 40px;
        border-radius:50%;
        filter: grayscale(100%);
        transition: all .1s ease-in;
    }   
}

.footer .col-3 .box-con img:hover{
    filter: grayscale(0%);
}

.footer .col-4{
    position: relative;
    top: 30px;
    left: 450px;
    width: fit-content;
    .sub-col{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        width: fit-content;
        
        .down img{
            height: 36px;
        }
    }
} 

.copyright{
    height: 60px;
    border: 1px rgb(28, 28, 28) solid;
    width: 100%;
    background-color: #03050f;
    display: flex;
    align-items: center;
    img{
        height: 40px;
        width: 120px;
        position: relative;
        left: 1020px;
        filter: drop-shadow(1px 2px 2px aliceblue);
    }
    p{
        color: aliceblue;
        position: relative;
        top: 10px;
        left: 30px;
        font-size: 12px;
    }
}

